@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslateblue;
    margin: 0px;
}

main {
    background-color: rgb(23, 23, 58);
    padding-block: 30px;
    background-image: linear-gradient(to bottom, rgb(23, 23, 58), rgb(153, 57, 108));
    background-size: 100%;
    background-repeat: no-repeat;
}

.div-h1 {
    margin: auto;
    max-width: 800px;
    font-family: 'Rubik', sans-serif;
}


.div-h1 h1 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    padding-inline: 10px;
}

.div-h1 h2 {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.video-wrapper {
    max-width: 800px;
    margin: auto;
    padding-inline: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#container-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#comprar {
    flex-basis: 1 1 300px;
    padding: 20px;
    background-color: #04963C;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-shadow: 0 0 10px grey;
    border-style: groove;
    border-width: 0 5px 5px;
    border-color: #04963C;
    border-radius: 30px;
    margin-block: 50px;
    margin-inline: 10px;

}

button:hover {
    cursor: pointer;
}

#compra-segura {
    width: 90%;
    max-width: 800px;
}



.beneficios {
    background-color: white;
    padding-block: 50px;
    display: flex;
    align-items: first baseline;
    justify-content: center;
    gap: 70px;
    flex-flow: row wrap;
    align-items: center;
}

.box-beneficios {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    padding-inline: 10px;
    border: none;
    border-radius: 30px;
    gap: 15px;
}

.beneficios-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

@media (min-width: 768px) {
    .beneficios-wrapper {
        display: flex;
        flex-flow: row nowrap;
        max-width: 1080px;
    }
}

.h2-beneficios {
    padding-inline: 10px;
    width: 100%;
    text-align: center;
    font-size: 29px;
    font-weight: 600;
    color: #39325E;
    font-family: 'poppins', sans-serif;
}

.box-beneficios>img {
    width: 50px;
    align-self: center;
}

.box-beneficios>h3 {
    text-transform: uppercase;
    text-align: center;
    color: #39325E;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.box-beneficios>p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-indent: 10px;
    color: grey;
    max-width: 900px;
    margin: auto;
}



#produto {
    background-color: rgb(23, 23, 58);
    font-family: 'Poppins', sans-serif;
    padding-block: 25px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.produtos-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-flow: row wrap;
    max-width: 800px;
    gap: 20px;
    padding-inline: 10px;
}

#produto h2 {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    max-width: 800px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: white;
    line-height: 1.33em;
    width: 100%;
    padding-inline: 10px;
}

.div-produtos {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 95%;
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    text-align: center;
}

@media (min-width: 768px) {
    .produtos-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 50px;
    }
}

.div-produtos>img {
    width: 100%;
}

.div-produtos>h3 {
    color: purple;
    align-self: center;
    font-weight: 500;
    padding-block: 10px;
    font-size: 27px;
    font-family: 'Rubik', sans-serif;
}

.div-produtos>p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-inline: 10px;
    font-size: 19px;
    line-height: 1.7;
    color: grey;
}



#mecanismo {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    background-color: white;
    padding-block: 25px;
    font-family: 'Poppins', sans-serif;
}

#mecanismo>h2 {
    color: #39325E;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}

#mecanismo>p {
    margin-block-start: 30px;
    font-size: 18px;
    text-align: center;
    color: #39325E;
    font-weight: 400;
    padding-inline: 10px;
    max-width: 800px;
    margin: auto;
}

.vantagens {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: center;
}

.check-icon {
    width: 50px;
    height: 50px;
    stroke: #39325E;
}

.vantagens span {
    color: #2a2a2a;
    font-weight: 400;
    font-size: 20px;
}





#cta {
    background-image: linear-gradient(360deg, rgb(12, 2, 104), rgb(83, 80, 112));
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    padding-block: 25px;
    padding-inline: 10px;
    gap: 30px;
}

#cta h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
}

#cta h2 {
    color: #FF00FF;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

#cta #capa-ipad {
    width: 100%;
    max-width: 400px;
}

#cta p {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    color: white;
}

#checkout-cta {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}


.depoimentos {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    padding-block: 30px;
}

.depoimentos>h2 {
    font-size: 36px;
    color: #39325E;
    width: 100%;
    padding-inline: 10px;
    text-align: center;
}

.p0 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    max-width: 400px;
    padding: 10px;
}

.media-avaliacao {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1000px;
    gap: 20px;
    padding-inline: 10px;
}

.media {
    width: 60%;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 10px;

    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

@media (min-width: 768px) {
    .media {
        flex-basis: calc(50% - 10px);
    }

    .avaliacao {
        flex: calc(50% - 10px);
    }
}

.texto {
    font-size: 16px;
}

.numero {
    font-size: 86px;
}

.stars {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.star {
    stroke: rgb(255, 238, 0);
    width: 30px;
    height: 30px;
    fill: yellow;
}

.avaliacao {
    width: 100%;
    max-width: 600px;
    border: 1px solid rgba(128, 128, 128, 0.438);
    padding: 10px;
}

.avaliacao img {
    width: 100%;
}

.span-2 {
    font-size: 18px;
    font-weight: 400;
}

.hr-avaliacao {
    width: 100%;
    margin: 30px 0;
}

.depoimentos-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-flow: row wrap;
    max-width: 768px;
    padding-inline: 10px;
    gap: 20px;
}

.depoimento-print {
    width: 100%;
}

@media (min-width: 768px) {
    .depoimentos-wrapper {
        display: grid;
        align-items: stretch;
        justify-content: space-around;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr 1fr;
        row-gap: 50px;
        column-gap: 15px;
    }

}

.box-depoimentos {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 10px;
    padding-block-end: 20px;

    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.534);
    flex-basis: 95%;
}

.img-depoimento-1 {
    width: 100%;
}

.pessoa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 10px;
    width: 100%;
}

.img-pessoa {
    width: 60px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}

.nome-pessoa {
    font-size: 18px;
    font-weight: 400;
}

.star-depoimento {
    width: 25px;
    height: 25px;
}

.p1-depoimento {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}

.p2-depoimento {
    text-align: center;
    font-weight: 400;
    padding: 10px;
}

.hr {
    width: 90%;
    margin: 10px 0;
}

.date {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}


.informacoes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 50px;
    padding-block: 30px;

    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.p--1 {
    font-size: 32px;
    font-weight: 700;
    padding-inline: 10px;
    max-width: 768px;
}

.p--2 {
    font-size: 18px;
    font-weight: 500;
    padding-inline: 10px;
    max-width: 768px;
}

.p--3 {
    font-size: 20px;
    font-weight: 300;
    padding-inline: 10px;
    max-width: 768px;
}

.dados {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-inline: 20px;
    gap: 30px;

    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
}

@media screen and (min-width: 768px) {
    .dados {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 1080px;
        row-gap: 0;
    }

    .numero-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .dado-1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .numero-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .dado-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .numero-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .dado-3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .numeros {
        font-size: 32px;
    }
}

.numeros {
    font-size: 48px;
    font-weight: 700;
}

.dados-texto {
    font-size: 18px;
    font-weight: 400;
    padding-inline: 10px;
}
.garantia {
    background-color: white;
    width: 100%;
    
    display: flex;
    justify-content: center;
}
.garantia-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;

    max-width: 1080px;
    padding-block: 25px;
    font-family: 'poppins', sans-serif;
}

.garantia-wrapper img {
    width: 100%;
    max-width: 500px;
    padding-inline: 30px;
}

.garantia-wrapper h2 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    padding-inline: 10px;
    color: black;
}

.garantia-wrapper p {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding-inline: 10px;
    max-width: 800px;
    color: rgba(0, 0, 0, 0.774);
}

@media(min-width: 768px) {
    .garantia-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 0;
    }

    .garantia-wrapper img {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }

    .garantia-wrapper h2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: end;
        font-size: 42px;
    }

    .garantia-wrapper p {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}

#duvidas {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding-block: 25px;
}

#duvidas>h2 {
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin-block: 25px;
    text-align: center;
    padding-inline: 10px;
}

#accordion {
    list-style: none;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding-block-end: 50px;
}

#accordion li label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 10px;

}

#accordion li label span {
    transform: rotate(90deg);
    font-size: 20px;
}

#accordion label+input[type="radio"] {
    display: none;
}

#accordion .content {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    color: grey;
}

#accordion label+input[type="radio"]:checked+.content {
    max-height: 400px;

}